<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link href="/index.css" rel="stylesheet" >
</head>
<body>
    <div class="header"><img src="./whatsapp-brands-solid (1).svg"><p class="wsp">NotWhatsapp</p></div>
    <div class="vt">
        <div class="vto">
        <div class="ch"><h1>Chats</h1></div>
        <div class="box"><input type="text" class="sbox" placeholder="Search or start a new chat"></div>
         
         <div class="contact">
            <div class="ig"> <img src="/user-solid (1).svg"></div>
            <p class="name name1"><%= name %></p>
         </div>
         <% for (let i = 0; i < rem_users.length; i++) { %>
            <div class="contact">
            <div class="ig"> <img src="/user-solid (1).svg"></div>
            <p class="name"><%= rem_users[i].name %></p>
            </div>
            
         <% } %>
    </div>
    <div class="main">
        <div class="messages">
            <% for(let i=0;i<=5;i++){ %>
                <% } %>
        </div>
        <input type="text" name="chat_box" class="chat_box">
        <input type="submit" value="send" class="send">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js" integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let send = document.querySelector(".send");
        let messages = document.querySelector(".messages");
        function display(chat_box) {
    const messageElement = document.createElement("div");
    messageElement.textContent = chat_box;
    document.querySelector(".messages").appendChild(messageElement);
    document.querySelector(".chat_box").value = "";
}
function display2(chat_box){
    const messageElement = document.createElement("div");
    messageElement.textContent = chat_box;
    messageElement.style.backgroundColor = "red";
    document.querySelector(".messages").appendChild(messageElement);
    document.querySelector(".chat_box").value = "";
}
const socket = io("http://localhost:3000");
const name1 = document.querySelector(".name1").innerText;

socket.on("connect", () => {
    console.log("Connected to the server");
    socket.emit("message", { text: socket.id, name: name1 });
});

socket.on("reply", (data) => {
    console.log("Server reply:", data);
});

document.querySelector(".send").addEventListener("click", () => {
    const chat_box = document.querySelector(".chat_box").value.trim();
    if (!chat_box) {
        alert("Message cannot be empty!");
        return;
    }
    const messages = document.querySelector(".messages");
        socket.emit("sending-msg", { name1, chat_box });
});

socket.on("receiving-msg",(ele)=>{
    display2(ele)
})

socket.on("receive-msg", (chat_box) => {
    display(chat_box);
});

document.querySelectorAll(".contact").forEach(contact => {
    contact.addEventListener("click", (event) => {
        const name = contact.querySelector(".name").innerText;
        let messages = document.querySelector(".messages");
        messages.style.backgroundColor = "#4e4b4b"
        if(name === name1){
             let messages = document.querySelector(".messages");
        messages.style.backgroundColor = "aliceblue";
        }
        else{
        display(name);}
        socket.emit('details',{to_name : name,from_name : name1,from_id : socket.id })

    });
});


    </script>
</body>
</html>