.contain{
    height: 100vh;
    width: 100vw;
    background-color: #62C730;
    position: absolute;
    top: 0px;
    left: 0px;
}
.big-container{
    height: 93.5vh;
    width: 97vw;
    background-color:#C2F9bb;
    position: absolute;
    top: 20px;
    left: 23px;
    border-radius: 25px;
}
.info-1{
    height: 150px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 35%;
}
.info{
    height: 50px;
    width: 350px;
    border-radius: 10px;
    background-color: #99f88d;
    border: 2px solid  #62C730;
    box-shadow: #62C730 2px 2px;
    font-size: 30px;
    color: #1c5500;
    font-family:cursive;
}
label{
    font-size: 20px;
    color: #2c8500;
    font-family: cursive;
    font-weight: 800;
}
.submit{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #73f662;
    border: 2px solid  #62C730;
    box-shadow: #62C730 2px 2px;
    position: absolute;
    top: 400px;
    left: 650px;
    font-size: 17px;
    font-family:cursive;
    color: #38900c;
    font-weight: 800;
}